@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Dark Mode Colors */
    --Dark-Blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
    --Very-Dark-Blue-Dark: hsl(207, 26%, 17%); /* Dark Mode Background */
    
    /* Light Mode Colors */
    --Very-Dark-Blue-Light: hsl(200, 15%, 8%); /* Light Mode Text */
    --Dark-Gray: hsl(0, 0%, 52%); /* Light Mode Input */
    --Very-Light-Gray: hsl(0, 0%, 94%); /* Light Mode Background */
    
    /* Common Colors */
    --White: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
  }